
<h1>About Author</h1>
<h5>A Gorkha | An Educator | Trainer | Social Entrepreneur</h5>
<br>
<p>
Preferred to be called as BRG(Budh Ram Gurung).<br>
Consider myself as FOSS PAA (FOSS Project Architect & Advocate).
<br><br>
I have gained most of my knowledge through self learning and follows Learn-Teach Cycle practice.
<br>
Being involved in Open Source & its Culture was the best thing that happened in my professional career and believe that "Open Source is the Future".
</p>
